*{
	padding: 0;
	margin: 0;
	font-family: Comic Sans;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 8px 0;
	background-color: #FA8072;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}
header{
}
header h1{
	float: left;
	padding: 20px 0;
	color: #FA8072;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 30px 25px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #FA8072;
	color: #fff;
}
.active{
	background-color: #FA8072;
	color: #fff;
}
.banner{
	height: 65vh;
	background-image: url(../img/banner2.jpg.jpg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
}
.banner h2{
	color: #FA8072;	
	z-index: 1;
	padding: 25px 30px;
	border: 6px solid #FA8072;
}
section{
	padding: 60px 0;
}
section h3{
	text-align: center;
	padding: 25px 0;
	color: #FA8072;
}
.about p{
	color: #FA8072;
	word-spacing: 2px;
	line-height: 25px;
}
.contact{
	background-color: #FA8072;
}
footer{
	padding: 35px 0;
	background-color: #FA8072;
	color: #fff;
}
.services{
	background-color: #F9F9F9;
}
.box{
	color: #FA8072;
}
.box:after{
	content: " ";
	display: block;
	clear: both;
}
.box .col-2 {
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon{
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 25px;
	margin: 0 auto;
}
.box .col-2 h4{
	margin: 20px 0;

}